[submodule "PinkNet"]
	path = PinkNet
	url = https://github.com/Vlas-Omsk/PinkNet
[submodule "PinkLogging"]
	path = PinkLogging
	url = https://github.com/Vlas-Omsk/PinkLogging
[submodule "PinkJson"]
	path = PinkJson
	url = https://github.com/Vlas-Omsk/PinkJson
	branch = release/PinkJson2
